<a href="https://colab.research.google.com/github/Hyunfor/2023_HNU_PythonClass/blob/master/23_04_23_~_25_~_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%88%98%EC%97%85_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# LAB 7-1
fruits = []

name = input("좋아하는 과일을 입력하세요 : ")
fruits.append(name)
name = input("좋아하는 과일을 입력하세요 : ")
fruits.append(name)
name = input("좋아하는 과일을 입력하세요 : ")
fruits.append(name)

name = input("과일의 이름을 입력하세요 : ")
if name in fruits:
    print("이 과일은 당신이 좋아하는 과일입니다.")
else:
    print("이 과일은 당신이 좋아하는 과일이 아닙니다.")

좋아하는 과일을 입력하세요 : 수박
좋아하는 과일을 입력하세요 : 딸기
좋아하는 과일을 입력하세요 : 바나나
과일의 이름을 입력하세요 : 두리안
이 과일은 당신이 좋아하는 과일이 아닙니다.

In [2]:
# LAB 7-2
# 인구 통계(단위 : 천명)
Seoul = 9765
Busan = 3441
Incheon = 2954
city_pop = [Seoul, Busan, Incheon]
print(city_pop)

#최대 인구, 최소 인구, 평균 인구 결과 도출하기

[9765, 3441, 2954]

In [18]:
# LAB 7-3
# 도시의 인구 자료에 대한 슬라이싱을 해보자
population = ["Seoul", 9765,"Busan", 3441, "Incheon", 2954]

print("서울 인구", population[1])
print("인천 인구", population[-1])

cities = population[0::2]
print("도시의 리스트", cities)
pops = population[1::2]
print("인구의 합", sum(pops))

# 1번
for i in population:
    if type(0) == type(i): 
        print("도시의 인구", i)

# 2번
for i in range(len(population)):
    population[i]

서울 인구 9765
인천 인구 2954
도시의 리스트 ['Seoul', 'Busan', 'Incheon']
인구의 합 16160
도시의 인구 9765
도시의 인구 3441
도시의 인구 2954

In [ ]:
# LAB 7-4