<a href="https://colab.research.google.com/github/Hyunfor/2023_HNU_PythonClass/blob/master/23_03_23_28_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%88%98%EC%97%85_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 100
if x > 1:
    print("x는 1보다 크다.")

x는 1보다 크다.

In [ ]:
score = int(input("성적을 입력하세요. : "))
if score >= 60:
    print("합격입니다.")
else:
    print("불합격 입니다.")

성적을 입력하세요. : 70
합격입니다.

In [1]:
num = int(input("양의 정수를 입력하세요 : "))
if num % 2 == 0:
    print("짝수입니다.")
else : 
    print("홀수 입니다.")

양의 정수를 입력하세요 : 123
홀수 입니다.

In [4]:
# LAB 4-2
age = int(input("나이를 입력하세요. : "))
if age >= 15:
    print("본 영화를 관람할 수 있습니다.")
else :
    print("본 영화는 관람할 수 없습니다.")

나이를 입력하세요. : 9
본 영화는 관람할 수 없습니다.

In [3]:
# LAB 4-4
year = int(input("년도를 입력하세요: "))
if(year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(year, "년은 윤년입니다.")
else:
    print(year, "년은 윤년이 아닙니다.")

년도를 입력하세요: 1989
1989 년은 윤년이 아닙니다.

In [10]:
# LAB 4-8
import random
n = random.randint(1, 3) # 1, 2, 3 하나의 난수 생성
if n == 1:
    computer_choice = '왼쪽'
elif n == 2:
    computer_choice = '중앙'
else :
    computer_choice = '오른쪽'

user_choice = input("공격할 위치를 정해주세요.(왼쪽, 중앙, 오른쪽) : ")
if computer_choice == user_choice:
    print("공격에 실패했습니다.")
else :
        print("축하합니다! 공격에 성공!")
print("컴퓨터의 수비 위치 : ", computer_choice)

공격할 위치를 정해주세요.(왼쪽, 중앙, 오른쪽) : 오른쪽
축하합니다! 공격에 성공!
컴퓨터의 수비 위치 :  중앙

In [12]:
#심화문제 4-3
age = int(input('나이를 입력하세요 : '))
if age >= 20:
  print('Adult')
elif age >= 10 and age < 10:
  print('Youth')
else:
  print('Kid')

나이를 입력하세요: 456
Adult

In [13]:
#심화문제 4-4
num = int(input("정수를 입력하시오 : "))
if num % 2 == 0 :
  print(num, '는(은) 2로 나누어 집니다.')
else :
  print(num, '는(은) 2로 나누어지지 않습니다.')

if num % 3 == 0 :
  print(num, '는(은) 3으로 나누어 집니다.')
else :
  print(num, '는(은) 3으로 나누어지지 않습니다.')

if num % 2 == 0 and num % 3 == 0:
  print(num, '2와(과) 3 모두로 나누어 집니다.')
else :
  print(num, '2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오 : 1234
1234 는(은) 2로 나누어 집니다.
1234 는(은) 3으로 나누어지지 않습니다.
1234 2와(과) 3 모두로 나누어지지 않습니다.

In [ ]:
#심화문제 4-8

In [ ]:
dan = 2

while dan <= 9:
  print("== {}단==".format(dan))

  i = 1

  while i <= 9:
    print("{} * {} = {}".format(dan, i, dan * i))
    i += 1

  dan += 1

In [ ]:
dan = 7
dan = dan + 1

# 수정가능 시작

i = 1


print("== {}단 ==".format(dan))

while i <= 9:

  print("{} * {} = {}".format(dan, i, dan * i))
  i += 1

In [ ]:
# 1번
x = ['a','b','c', 'd','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','v','w','x','y','z']
x = str(input('알파벳을 입력하시오 : '))
if x == 'a' or x=='e' or x=='i' or x=='o' or x=='u':
  print(x, '(은)는 모음입니다.')
else :
  print(x, '(은)는 자음입니다.')

알파벳을 입력하시오 : a
a (은)는 모음입니다.

In [ ]:
# 2번
# (if문만 사용해서 구함)
a, b, c = map(int, input('세 정수를 입력하시오 : ').split())
if b > a and b > c:
  a,b = b,a
if c > a and c > b:
  a,c = c,a
if c > b:
  b,c = c,b
print(a, b, c)

세 정수를 입력하시오 : 12 9 1
12 9 1

In [ ]:
# 3번
age = int(input('나이를 입력하시오: '))
if age >= 20:
  print('Adult')
elif age >= 10 and age < 10:
  print('Youth')
else:
  print('Kid')

나이를 입력하시오: 1
Kid

In [ ]:
# 4번
num = int(input("정수를 입력하시오 : "))
if num % 2 == 0 :
  print(num, '는(은) 2로 나누어 집니다.')
else :
  print(num, '는(은) 2로 나누어지지 않습니다.')

if num % 3 == 0 :
  print(num, '는(은) 3으로 나누어 집니다.')
else :
  print(num, '는(은) 3으로 나누어지지 않습니다.')

if num % 2 == 0 and num % 3 == 0:
  print(num, '2와(과) 3 모두로 나누어 집니다.')
else :
  print(num, '2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오 : 10
10 는(은) 2로 나누어 집니다.
10 는(은) 3으로 나누어지지 않습니다.
10 2와(과) 3 모두로 나누어지지 않습니다.

In [ ]:
# 5번
import random
me = map(int, input('세 복권번호를 입력하시오 : ').split())

alist=[]
for i in range(3):
  lotto = random.randint(0, 9)
  print("당첨번호는", lotto, "입니다.")
while lotto in alist :
  lotto = random.randint(1,9)

if (lotto == me):
  print("상금은 1억원입니다.")
else:
   print("다음 기회에...")

세 복권번호를 입력하시오 : 1 2 3
당첨번호는 0 입니다.
당첨번호는 1 입니다.
당첨번호는 9 입니다.
다음 기회에...

In [ ]:
# 6번
print('우리식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다.')
print('b)햄버거 c)치킨 p)피자')
order = str(input('b, c, p 메뉴 선택'))
while order != 'b' and order != 'c' and order != 'p':
	order = input('메뉴를 선택하세요.: ')
if order == 'b':
  print('햄버거를 선택하였습니다.')
if order == 'c':
  print('치킨을 선택하였습니다.')
if order == 'p':
  print('피자를 선택하였습니다.')
else:
  print("선택한 메뉴가 없습니다.")

우리식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다.
b)햄버거 c)치킨 p)피자
b, c, p 메뉴 선택b
햄버거를 선택하였습니다.
선택한 메뉴가 없습니다.

In [ ]:
# 7번
import random
x = random.randint(1, 100)
y = random.randint(1, 100)
s = str(x)+'+'+str(y)+'='
num = int(input(s))
if num == x+y:
	print("잘했어요!!")
else:
	print("정답은", x+y, '입니다.')

69+63=1
정답은 132 입니다.

In [ ]:
# 8번
print('1)덧셈 2)뺄셈 3)곱셈 4)나눗셈')
s = int(input('어떤 연산을 원하는지 번호를 입력하세요: '))
x, y = map(int, input('연산을 원하는 숫자 두 개를 입력하세요. \n').split())
if s == 1:
	print(x, '+', y, '=', x+y)
elif s == 2:
	print(x, '-', y, '=', x-y)
elif s == 3:
	print(x, '*', y, '=', x*y)
elif s == 4:
	print(x, '/', y, '=', x/y)
else:
	print('잘못 입력하였습니다.')

1)덧셈 2)뺄셈 3)곱셈 4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요: 1
연산을 원하는 숫자 두 개를 입력하세요.
1 1
1 + 1 = 2