<a href="https://colab.research.google.com/github/Hyunfor/2023_HNU_PythonClass/blob/master/23_05_02_~_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%88%98%EC%97%85_9(8%EC%9E%A5)_~_10_(_9%EC%9E%A5_%EC%99%84%2C_10%EC%9E%A5_%EC%A7%84%ED%96%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

8장

In [ ]:
# 딕셔너리 장점 
# 어떤 자료형도 받을 수 있다.
# 튜플은 보안상의 이유로 따로 둠

# 리스트와 튜플은 순서자료형
phone_num_list = {}
phone_num_list["전우치"] = "010-2233-4455"
print(phone_num_list)

phone_num_list["도사협회"] = "01-1133-4455"
phone_num_list["빌런협회"] = "04-7733-4455"
print(phone_num_list)

# 리스트에서 인덱스, 딕셔너리에서는 키가 있어야 값을 찾을 수 있다.
# 모든 키를 출력하려면 keys()라는 메소드를 사용
# 반면 딕셔너리에서 사용되는 모든 값을 출력하려면 values()를 사용.
# 딕셔너리 내부의 모든 값을 출력하려면 items()를 사용
# items()를 쓰면 튜플로 출력 (출력된 값)
# Key()는 [(출력된 값), (출력된 값)]
for name, phone_num in phone_num_list.items():
    print(name,':',phone_num)

{'전우치': '010-2233-4455'}
{'전우치': '010-2233-4455', '도사협회': '01-1133-4455', '빌런협회': '04-7733-4455'}
전우치 : 010-2233-4455
도사협회 : 01-1133-4455
빌런협회 : 04-7733-4455

In [ ]:
person_dic = {'Name': "홍길동", 'Age': 27, 'Class': "초급"}
print(person_dic['Name']) # 딕셔너리의 Name키로 값을 조회
print(person_dic['Age']) # 딕셔너리의 Age키로 값을 조회
print(person_dic['Class'])

홍길동
27
초급

In [ ]:
def sum(a, b): # 일반적인 함수문
    return a+b
print(sum(3,4))

sum = lambda a,b : a+b # lambda함수로 일반적인 함수 코드를 간결하게 만들 수 있음.
print(sum(3,4))

7
7

In [ ]:
f = lambda x : x**2
f(3)

9

In [ ]:
f = lambda x : x/2
f(4)

2.0

In [ ]:
even_power = lambda x : x**2 if x%2 == 0 else x
print(even_power(2))
print(even_power(3))

4
3

In [ ]:
# 심화문제 8.3 한번 풀어보기
# 학번, 이름, 전화번호의 3쌍의 요소를 가지는 student_tup라는 튜플이 존재

# 1) 튜플을 수정하여 {학번 : [이름, 전화번호]}의 쌍으로 이루어진 딕셔너리를 만들어서 출력

# 2) 학생의 학번을 입력받아서 이름과 전화번호를 출력하는 학사 정보 프로그램을 작성

# 3) student_tup의 마지막 항목으로 직전학기 학점을 추가. 세 학생의 학점은 각각 4.3, 3.9, 4.25이다. 
# 이를 바탕으로 딕셔너리를 만들어 학생 정보를 출력하라

# 4) 3)의 정보를 이용하여 for 반보문과 인덱싱을 통해서 세 학생의 학점 평균값을 다음과 같이 출력하라.

9장

In [ ]:
# 문자열도 순서자료형 - > 인덱스를 가지고 있다 & 반복문에 사용가능
# split() - > 문자열 분리
# join() - > 문자열 합치기
# replace() - > 문자열 변경
# strip() - > 공백 제거거

In [ ]:
s = 'www.booksr.co.kr'
s.find('.kr')

13

In [ ]:
s = 'www.booksr.co.kr'
s.find('x')

-1

In [ ]:
s = 'www.booksr.co.kr'
print(s.index('.kr'))

13

In [ ]:
s = 'www.booksr.co.kr'
print(s.index('x'))

ValueError: ignored

In [2]:
# LAB 9-2
# 트위터 메시지 처리의 단어 추출
t = "There's a reason some people are working to make it harder to vote, especially for people of color. It's because when we show up, things change."
length = len(t.split(' '))
print('world count:', length)

world count: 26

In [ ]:
# 9.7 워드클라우드 내용은 스스로 학습
# 9.8 정규표현식 내용은 프로젝트 진행시 필요시 학습

In [ ]:
# 심화문제 9.1 9.5, 9.6 집에서 해보기

In [3]:
# 심화문제 9.1
# 영문 이름을 입력받은 후 중간 이름을 출력하라
name = input("영문 이름을 입력하세요: ")
names_list = name.split()  # 공백을 기준으로 문자열을 단어 단위로 분리합니다.
num_names = len(names_list)  # 입력된 이름의 단어 개수를 구합니다.

# 입력된 이름이 두 개 이상의 단어로 이루어져 있다면 중간 단어를 출력합니다.
if num_names >= 2:
    middle_index = num_names // 2  # 중간 단어의 인덱스를 계산합니다.
    middle_name = names_list[middle_index]  # 중간 단어를 가져옵니다.
    print("중간 이름은", middle_name, "입니다.")
else:
    print("입력된 이름이 너무 짧습니다.")

영문 이름을 입력하세요: jon smths meguel
중간 이름은 smths 입니다.

In [4]:
# 심화문제 9.5
# s = Korea is awesome! I REALLY LOVE KOREA.
# Korea가 몇번 나타나는가 출력하라. 이때 KOREA, Korea와 korea는 같은 문자열로 간주한다.
s = "Korea is awesome! I REALLY LOVE KOREA."
count = s.lower().count("korea")  # 대소문자를 구분하지 않고 "Korea"가 몇 번 나타나는지 계산합니다.
print("Korea가 총", count, "번 나타납니다.")

Korea가 총 2 번 나타납니다.

In [5]:
# 심화문제 9.6
# 문장에 'English = 98'와 같이 과목점수가 저장되어 있다. 이문장을 분석하여 숫자로 이루어진 점수를 읽어서 합과 평균점수를 구하라
# 문장 s : English = 89, Science = 90, Math = 92, History = 80.
# 총점 : 351
# 평균점수 87.75
s = "English = 89, Science = 90, Math = 92, History = 80."
scores = []  # 점수를 저장할 리스트를 초기화합니다.
for item in s.split(","):  # 쉼표를 기준으로 문자열을 분리합니다.
    score = item.split("=")[-1].strip()  # 등호를 기준으로 문자열을 분리하여 숫자를 추출합니다.
    scores.append(int(score))  # 추출한 숫자를 정수형으로 변환하여 리스트에 추가합니다.
total = sum(scores)  # 총점을 계산합니다.
average = total / len(scores)  # 평균점수를 계산합니다.
print("총점:", total)
print("평균점수:", round(average, 2))

ValueError: ignored

In [7]:
s = "English = 89, Science = 90, Math = 92, History = 80."
scores = []
for item in s.split(","):
    score = item.split("=")[-1].strip()
    scores.append(float(score))  # 정수 대신 실수로 변환합니다.
total = sum(scores)
average = total / len(scores)
print("총점:", total)
print("평균점수:", round(average, 2))

총점: 351.0
평균점수: 87.75

10장
numpy