<a href="https://colab.research.google.com/github/Hyunfor/2023_HNU_PythonClass/blob/master/23_03_30_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%88%98%EC%97%85_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
for i in range(5):
    print("ㅇㅇ")
    print(i)
for x in [1, 2, 3, 4, 5]:
    print("ㅇㅇㅇ")
    print(x)

ㅇㅇ
0
ㅇㅇ
1
ㅇㅇ
2
ㅇㅇ
3
ㅇㅇ
4
ㅇㅇㅇ
1
ㅇㅇㅇ
2
ㅇㅇㅇ
3
ㅇㅇㅇ
4
ㅇㅇㅇ
5

In [20]:
for i in [1, 2, 3, 4, 5]:
    print("i = ", i)

i =  1
i =  2
i =  3
i =  4
i =  5

In [23]:
for i in [1, 2, 3, 4, 5]:
    print("9 *", i, "=", 9 * i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45

In [27]:
for x in range(10):
    print("2 *", x , "=", 2 * x)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [35]:
for x in range(4, 101, 2):
    print(x)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [1]:
# 수업이랑 상관없이 생각나서 해봄
dan = 2

while dan <= 9:
  print("== {}단==".format(dan))

  i = 1

  while i <= 9:
    print("{} * {} = {}".format(dan, i, dan * i))
    i += 1

  dan += 1

== 2단==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
== 3단==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
== 4단==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
== 5단==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
== 6단==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
== 7단==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
== 8단==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 9단==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 수업이랑 상관없이 생각나서 해봄
dan = 7
dan = dan + 1

# 수정가능 시작

i = 1


print("== {}단 ==".format(dan))

while i <= 9:

  print("{} * {} = {}".format(dan, i, dan * i))
  i += 1

In [ ]:
# 수업이랑 상관없이 생각나서 해봄
dan = 8

print("== {}단 ==".format(dan))
# +=는 기존의 것에 덧붙여서 출력. =는 다시 넣어서 출력. \n 다음줄로 내려서 출력.
s = ""
s += "8 * 1 = 8\n"
s += "8 * 2 = 16\n"
s += "8 * 3 = 24\n"
s += "8 * 4 = 32\n"
s += "8 * 5 = 40\n"
s += "8 * 6 = 48\n"
s += "8 * 7 = 56\n"
s += "8 * 8 = 64\n"
s += "8 * 9 = 72\n"

print(s)

In [ ]:
#심화문제 풀이 ch.5 (P141 ~ 144)

In [ ]:
# 5-1
result = ""
for i in range(1, 101):
   if i & 1:
      result += "%d, " % i
print('1에서 100까지의 수 중에서 홀수는 :',result[0:len(result)-2])

1에서 100까지의 수 중에서 홀수는 : 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99

In [ ]:
i = 1
while i <= 100:
  print(i, end = ", ")
  i = i + 2

1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99,

In [ ]:
#for 반복문
for i in range(1, 101):
   if not (i & 1):
      print(i, end = ", ")
#while 반복문
i = 1
while i <= 50:
  print(i*2, end = ", ")
  i=i+1

SyntaxError: ignored

In [ ]:
# 5-2
#for 반복문
even = odd = 0 
for i in range(1, 101):
    if i % 2 == 0:
        even += i
    else:
        odd += i

print('1에서 100까지의 수 중에서 짝수 합 : ', even)
print('1에서 100까지의 수 중에서 홀수 합 : ', odd)

1에서 100까지의 수 중에서 짝수 합 :  2550
1에서 100까지의 수 중에서 홀수 합 :  2500

In [ ]:
#while 반복문
x = 1
짝수합 = 0
홀수합 = 0

while x < 101:
    if x % 2 == 0:
        짝수합 = 짝수합 + x
    else:
        홀수합 = 홀수합 + x
    x = x+1

print('짝수의 합은 : ', 짝수합)
print('홀수의 합은 : ', 홀수합)

짝수의 합은 :  2550
홀수의 합은 :  2500

In [ ]:
a = int(input('시작 정수를 입력하세요 :'))
b = int(input('끝 정수를 입력하세요 :'))
if a>b:
  a,b = b,a
sum=0
for i in range(a, b+1):
  sum+=i
print(a, '에서', b, '까지 정수의 합 : ', sum)

시작 정수를 입력하세요 :1
끝 정수를 입력하세요 :2
1 에서 2 까지 정수의 합 :  3

In [ ]:
# 5-3
print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('1) 햄버거\n2) 치킨\n3) 피자')
order = int(input('1에서 3까지의 메뉴를 선택하세요 : '))
if order == 1:
  print('햄버거를 선택하였습니다.')
if order == 2:
  print('치킨을 선택하였습니다.')
if order == 3:
  print('피자를 선택하였습니다.')

else:
  while order>3 or order<0:
    order = int(input('메뉴를 다시 입력하세요 : '))

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요 : 1
햄버거를 선택하였습니다.

In [ ]:
# 5-4
x = int(input('숫자를 입력하세요 : '))
i = 1*'*'
while i <= 5*'*':
  print(i, end = "\n")
  i = i + 1*'*'

숫자를 입력하세요 : 55
*
**
***
****
*****

In [ ]:
# 5-5

In [ ]:
# 5-6
연료 = 500
for i in range(3):
  x = int(input('충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : '))
  연료증감 = 연료 + x
  print('현재 탱크양은', 연료+x, '입니다.')
while 연료 >100:
  print("경고 : 연료가 10% 미만이니 충전하세요!")
  break

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : 200
현재 탱크양은 700 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : 100
현재 탱크양은 600 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -290
현재 탱크양은 210 입니다.
경고 : 연료가 10% 미만이니 충전하세요!

In [ ]:
# 5-7

In [ ]:
# 5-8
n = list(map(int,str(input("정수를 입력하시오: "))))
n.reverse()
m = ""
for i in n:
  m += str(i)
if n == m:
  print(m, "은(는) 거꾸로 정수입니다.")
else:
  print(m, "은(는) 거꾸로 정수가 아닙니다.")

정수를 입력하시오: 234
432 은(는) 거꾸로 정수가 아닙니다.

In [ ]:
# 5-9