<a href="https://colab.research.google.com/github/Hyunfor/2023_HNU_PythonClass/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%88%98%EC%97%85_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 함수에 인자 넣기전
# 함수에 인자가 있거나, 없을 수도 있음. 
def print_address():
    print("경상북도")
    print("울릉군 울릉읍")
    print("독도리 산 1-96번지지")

print_address()

경상북도
울릉군 울릉읍
독도리 산 1-96번지지

In [3]:
# 함수에 인자값 넣은후
def print_address(name):
    print("경상북도")
    print("울릉군 울릉읍")
    print(name)

print_address("전우치")
print_address("도사")

경상북도
울릉군 울릉읍
전우치
경상북도
울릉군 울릉읍
도사

In [2]:
# return값이 없으면 None 출력 
def print_address():
    print("경상북도")
    print("울릉군 울릉읍")
    print("독도리 산 1-96번지지")

x = print_address()
print(x)

경상북도
울릉군 울릉읍
독도리 산 1-96번지지
None

In [5]:
def get_sum(start, end):
    s = 0
    for i in range(start, end+1):
        s += i
    return s
print(get_sum(1, 10))

55

In [6]:
print(get_sum(1, 10))

55

In [8]:
def calc(n1, n2):
    return n1 + n2, n1 - n2, n1 * n2, n1 / n2

n1, n2 = 200, 100
t1, t2, t3, t4 = calc(n1, n2)
print(n1, "+" , n2, "=", t1) 
print(n1, "-" , n2, "=", t2) 
print(n1, "*" , n2, "=", t3) 
print(n1, "/" , n2, "=", t4)

200 + 100 = 300
200 - 100 = 100
200 * 100 = 20000
200 / 100 = 2.0

In [ ]:
def calc(n1, n2): # format 방식으로 해보기
    return n1 + n2, n1 - n2, n1 * n2, n1 / n2

n1, n2 = 200, 100
t1, t2, t3, t4 = calc(n1, n2)
x = 'n1'.format
print(n1, "+" , n2, "=", t1) 
print(n1, "-" , n2, "=", t2) 
print(n1, "*" , n2, "=", t3) 
print(n1, "/" , n2, "=", t4)

In [ ]:
# 수업이랑 상관없이 생각나서 해봄
dan = 2

while dan <= 9:
  print("== {}단==".format(dan))

  i = 1

  while i <= 9:
    print("{} * {} = {}".format(dan, i, dan * i))
    i += 1

  dan += 1

In [ ]:
# 수업이랑 상관없이 생각나서 해봄
dan = 7
dan = dan + 1

# 수정가능 시작

i = 1


print("== {}단 ==".format(dan))

while i <= 9:

  print("{} * {} = {}".format(dan, i, dan * i))
  i += 1

In [ ]:
# 심화문제 6-1
def square(n):
  return n*n
print('3의 제곱은 : ',square(3))
print('4의 제곱은 : ',square(4))

3의 제곱은 :  9
4의 제곱은 :  16

In [ ]:
# 심화문제 6-2
def max2(m, n):
  if m>n:
    return m
  else:
    return n
def min2(m, n):
  if m>n:
    return n
  else:
    return m
print('100과 200중 큰 수는 :', max2(100,200))
print('100과 200중 작은 수는 :', min2(100,200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [ ]:
# 심화문제 6-3
def max3(n1, n2, n3):
  if n3>n2>n1:
    return n3
  else:
    return n1
def min3(n1, n2, n3):
  if n1<n2<n3:
    return n1
  else:
    return n3
n1, n2, n3 = map(int, input('세 정수를 입력하시오:').split())
print('가장 큰 수 :', max3(34, 66, 20))
print('가장 작은 수 :', min3(34, 66, 20))

세 정수를 입력하시오:12 12 12
가장 큰 수 : 34
가장 작은 수 : 20

In [ ]:
# 심화문제 6-4
def max_and_min(n1, n2, n3):
  if n3>n2>n1:
    return n3
  else:
    return n1
n1, n2, n3 = map(int, input('세 정수를 입력하시오:').split())
print('가장 큰 수 :', max3(34, 66, 20))
print('가장 작은 수 :', min3(34, 66, 20))

세 정수를 입력하시오:15 17 18
가장 큰 수 : 34
가장 작은 수 : 20

In [ ]:
# 심화문제 6-5
for C in range(0, 51, 10):
  F = 9/5 * C + 32
  print(round(C,2), ':' , F)

0 : 32.0
10 : 50.0
20 : 68.0
30 : 86.0
40 : 104.0
50 : 122.0

In [ ]:
# 심화문제 6-6
def is_prime(n):
  for i in range(2, n):
    if n % i == 0:
      return False
  return True

a = int(input("소수 검사를 할 정수를 입력하시오: "))
print("소수인가요? :", is_prime(a))

소수 검사를 할 정수를 입력하시오: 12
소수인가요? : False

In [ ]:
# 심화문제 6-7
def fib(n):
    _curr, _next = 0, 1
    for _ in range(n):
        _curr, _next = _next, _curr + _next
    return _curr
print(fib(5))
print(fib(7))
print(fib(10))

5
13
55

In [ ]:
# 심화문제 6-8
import math

class point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
 
p1 = point(x=4, y=2)
p2 = point(x=2, y=1)
 
a = p2.x - p1.x
b = p2.y - p1.y
 
c = math.sqrt((a * a) + (b * b))
print(c)

2.23606797749979